*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.main{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5));
	position: relative;
}
.form{

}
form{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40PX;
}
form img{
	width: 10rem;
	height: 10rem;
	background-color: #2caf1f;
	color: #2caf1f;
	margin: 20px;
	background-position: 0 0;
}
form img::hover{
	transition: 0.5s ease-in-out;
	background-position: 0 20px;
}
h1{
	font-family: cursive;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
	color: #2caf1f;
}
.back{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}